
{% extends 'base.html.twig' %}
{% block body %}
<h3>{{ title }}</h3>
<p>Bonjour, Nous sommes très heureux de vous accueillir dans ce blog à 
destination des étudiants qui souhaitent s'orienter dans le domaine du 
droit social et de la Gestion des Ressources Humaines afin de les 
éclairer dans les possibilités d'orientation. Vous trouverez dans 
ce blog divers témoignages de professionnels afin de connaitre leur 
parcours, les difficultés auxquelles ils ont du faire face, leurs réussites,
 ainsi que leur carrière. Nous espérons que ce blog vous aidera. Nous tenons
  à remercier les professionnels pour le temps qu'ils nous ont accordé afin 
  de réaliser ce blog.
 </p>
{% endblock %}